body {
  font-family: 'Montserrat', sans-serif;
}

.page {
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-light {
  background-color: #F9F6F1;
}

.page-dark {
  background-color: #212121;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 47px;
  padding-bottom: 26px;
}

.nav {
  font-size: 14px;
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-item {
  letter-spacing: .04rem;
  margin-right: 45px;
}

.nav-link {
  color: #212121;
  text-decoration: none;
}

.cart {
  background-image: url(../img/basket.svg);
  padding-left: 52px;
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 0 center;
}

.cart-count {
  background-image: url(../img/cart-bg.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 24px;
  display: block;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 93px;
}

.main-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.sale-description {
  font-size: 30px;
  letter-spacing: 0.6px;
}

.sale-title {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2.5px;
  margin: 30px 0 60px 0;
}

.btn {
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  padding: 18px 31px;
  background-color: #D7B399;
}

.btn-xs {
  padding: 5px 30px;
}

.btn-center {
  display: block;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}

.btn span {
  margin-right: 15px;
}

.box {
  position: relative;
}

.box-price {
  position: absolute;
  right: 0;
  top: 35px;
  text-align: right;
}

.box-price-new {
  font-size: 42px;
  font-weight: 700;
  color: #D84033;
  margin-top: 17px;
}

.box-price-old {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2.5px;
}

.notice {
  color: #FFFFFF;
  padding: 50px 0;
  text-align: center;
}

.notice-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.notice-title span {
  font-weight: 700;
}

.notice-description {
  font-size: 21px;
  font-weight: 300;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection-item {
  padding: 50px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  background-repeat: no-repeat;
  background-size: 190px 171px;
  background-position: calc(100% - 50px) bottom;
}

.collection-man {
  background-image: url("../img/man.png");
}

.collection-woman {
  background-image: url("../img/woman.png");
}

.collection-title {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.collection-title span {
  font-weight: 500;
}

.collection-description {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 40px;
}

.title-h2 {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  margin: 23px 0 100px 0;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
}

.product-item:before, .product-item:after {
  content: '';
  display: block;
  width: 100%;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-item:before {
  background-image: url(../img/item-top.svg);
}

.product-item:after {
  background-image: url(../img/item-bottom.svg);
}

.product-title {
  font-size: 14px;
  font-weight: 500;
}

.product-price {
  color: #D7B399;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */