$accent: #D7B399;
$dark: #212121;
$light: #F9F6F1;
$white: #FFFFFF;
$gray: #CBCFD4;
$light-gray: #F4F4F4;
$dark-gray: #CECECE;
$red: #D84033;

body {
    font-family: 'Montserrat', sans-serif;
}

.page {
    padding-top: 100px;
    padding-bottom: 100px;
    &-light {
        background-color: $light;
    }
    &-dark {
        background-color: $dark;
    }
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 47px;
    padding-bottom: 26px;
}

.nav {
    font-size: 14px;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    &-item {
        letter-spacing: .04rem;
        margin-right: 45px;
    }
    &-link {
        color: $dark;
        text-decoration: none;
    }
}

.cart {
    background-image: url(../img/basket.svg);
    padding-left: 52px;
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 0 center;
    &-count {
        background-image: url(../img/cart-bg.svg);
        background-repeat: no-repeat;
        background-position: 0 center;
        color: $white;
        font-size: 12px;
        font-weight: 700;
        padding: 10px 24px;
        display: block;
    }
}

.main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 93px;
    &-item {
        flex: 0 0 50%;
    }
}

.sale {
    &-description {
        font-size: 30px;
        letter-spacing: 0.6px;
    }
    &-title {
        font-size: 55px;
        font-weight: 700;
        letter-spacing: 2.5px;
        margin: 30px 0 60px 0;
    }
}

.btn {
    font-size: 16px;
    letter-spacing: 0.5px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 18px 31px;
    background-color: $accent;
    &-xs {
        padding: 5px 30px;
    }
    
}

.box {
    position: relative;
    &-price {
        position: absolute;
        right: 0;
        top: 35px;
        text-align: right;
        &-new {
            font-size: 42px;
            font-weight: 700;
            color: $red;
            margin-top: 17px;
        }
        &-old {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 2.5px;
        }
    }
}

.notice {
    color: $white;
    padding: 50px 0;
    text-align: center;
    &-title {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 400;
        span {
            font-weight: 700;
        }
    }
    &-description {
        font-size: 21px;
        font-weight: 300;
    }
}

.collection {
    display: flex;
    justify-content: space-between;
    &-item {
        padding: 50px 0;
        flex: 0 0 50%;
        background-repeat: no-repeat;
        background-size: 190px 171px;
        background-position: calc(100% - 50px) bottom;
    }
    &-man {
        background-image: url('../img/man.png');
    }
    &-woman{
        background-image: url('../img/woman.png');
    }
    &-title {
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
        span {
            font-weight: 500;
        }
    }
    &-description {
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 40px;
    }
}