$accent: #D7B399;
$dark: #212121;
$light: #F9F6F1;
$white: #FFFFFF;
$gray: #CBCFD4;
$light-gray: #F4F4F4;
$dark-gray: #CECECE;
$red: #D84033;

body {
    font-family: 'Montserrat', sans-serif;
}

.page-light {
    background-color: $light;
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 126px;
    padding-top: 47px;
}

.nav {
    font-size: 14px;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    &-item {
        letter-spacing: .04rem;
        margin-right: 45px;
    }
    &-link {
        color: $dark;
        text-decoration: none;
    }
}

.cart {
    background-image: url(../img/basket.svg);
    padding-left: 52px;
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 0 center;
    &-count {
        background-image: url(../img/cart-bg.svg);
        background-repeat: no-repeat;
        background-position: 0 center;
        color: $white;
        font-size: 12px;
        font-weight: 700;
        padding: 10px 24px;
        display: block;
    }
}

.main {
    display: flex;
    justify-content: space-between;
    &-item {
        flex: 0 0 50%;
    }
}

.sale {
    &-description {
        font-size: 30px;
        letter-spacing: 0.6px;
    }
    &-title {
        font-size: 55px;
        font-weight: 700;
        letter-spacing: 2.5px;
        margin: 0 0 55px 0;
    }
}

.btn {
    font-size: 16px;
    letter-spacing: 0.5px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 22px 31px;
    background-color: $accent;
}

.box {
    position: relative;
    &-price {
        position: absolute;
        right: 0;
        text-align: right;
        &-new {
            font-size: 42px;
            font-weight: 700;
            color: $red;
        }
        &-old {
            font-size: 24px;
            font-weight: 700;
        }
    }
}